global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  # Мониторинг самого Prometheus
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:{{ monitoring__prometheus_port }}']

  # Мониторинг других сервисов стека
  - job_name: 'grafana'
    static_configs:
      - targets: ['grafana:{{ monitoring__grafana_port }}']
    
  - job_name: 'loki'
    static_configs:
      - targets: ['loki:{{ monitoring__loki_port }}']
    
  - job_name: 'alertmanager'
    static_configs:
      - targets: ['alertmanager:{{ monitoring__alertmanager_port }}']

alerting:
  alertmanagers:
    - static_configs:
        - targets: 
            - alertmanager:{{ monitoring__alertmanager_port }}
